@page "/addhometask"
@using HomeTaskOrganizer.Components
@using HomeTaskOrganizer.Models
@using HomeTaskOrganizer.Services
@inject HomeTaskService homeTaskService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Add New Home Task</h3>

<div>
    <label class="label-styled" for="title">Title:</label>
    <input class="input-styled" type="text" id="title" @bind="newTask.Title" />
</div>
<div>
    <label class="label-styled" for="description">Description:</label>
    <input class="input-styled" type="text" id="description" @bind="newTask.Description" />
</div>
<div>
    <label class="label-styled" for="deadline">Deadline:</label>
    <input class="input-styled" type="datetime-local" id="deadline" @bind="newTask.Deadline" />
</div>
<div>
    <label class="label-styled" for="assignedTo">Assigned To:</label>
    <input class="input-styled" type="text" id="assignedTo" @bind="newTask.AssignedTo" />
</div>
<div>
    <label class="label-styled" for="isCompleted">Completed:</label>
    <input class="checkbox-styled" type="checkbox" id="isCompleted" @bind="newTask.IsCompleted" />
</div>
<button class="btn btn-primary" @onclick="AddNewTask">Add Task</button>

@code {
    private HomeTask newTask = new HomeTask();

    private async Task AddNewTask()
    {
        try
        {
            await homeTaskService.AddTaskAsync(newTask);
            NavigationManager.NavigateTo("/"); // Redirect to home page after adding task
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error when adding task...");
            // Handle error or display a message to the user
        }
    }
}
