@page "/addhometask"
@using HomeTaskOrganizer.Components
@using HomeTaskOrganizer.Models
@using HomeTaskOrganizer.Services
@inject HomeTaskService homeTaskService
@inject NavigationManager NavigationManager
@inject PersonService personService
@rendermode InteractiveServer

<h3>Add New Home Task</h3>

<div>
    <label class="label-styled" for="title">Title:</label>
    <input class="input-styled" type="text" id="title" @bind="newTask.Title" />
</div>
<div>
    <label class="label-styled" for="description">Description:</label>
    <input class="input-styled" type="text" id="description" @bind="newTask.Description" />
</div>
<div>
    <label class="label-styled" for="deadline">Deadline:</label>
    <input class="input-styled" type="datetime-local" id="deadline" @bind="newTask.Deadline" />
</div>
<div>
    <label class="label-styled" for="assignedto">Assigned To:</label>
    <select id="assignedto" @bind="selectedAssignedto">
        @foreach (var person in people)
        {
            <option value="@person.Name">@person.Name</option>
        }
    </select>
</div>
<div>
    <label class="label-styled" for="isCompleted">Completed:</label>
    <input class="checkbox-styled" type="checkbox" id="isCompleted" @bind="newTask.IsCompleted" />
</div>
<button class="btn btn-primary" @onclick="AddNewTask">Add Task</button>

@code {
    private HomeTask newTask = new HomeTask();
    string selectedAssignedto;
    IEnumerable<Person> people = new List<Person>();

    protected override async Task OnInitializedAsync()
    {
        people = await personService.GetPeopleAsync();
    }

    private async Task AddNewTask()
    {
        try
        {
            await homeTaskService.AddTaskAsync(newTask);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error when adding task...");
            
        }
    }
}
