@page "/addperson"
@using HomeTaskOrganizer.Models
@using HomeTaskOrganizer.Repositories
@using HomeTaskOrganizer.Services
@inject PersonService personService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Add new person</h3>

<div>
    <label class="label-styled" for="name">Name:</label>
    <input class="input-styled" type="text" id="name" @bind="newPerson.Name" />
</div>
<div>
    <label class="label-styled" for="email">Email:</label>
    <input class="input-styled" type="email" id="email" @bind="newPerson.Email" />
</div>

    <button class="btn btn-primary" @onclick="AddNewPerson">Add</button>

@code {
    Person newPerson = new Person();
    
    private async Task AddNewPerson()
    {
        try
        {
            await personService.AddPersonAsync(newPerson);
            NavigationManager.NavigateTo("/");
            
        }
        catch (Exception ex)
        {
            
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
    
}

