@page "/"

<PageTitle>Homework Task Organizer</PageTitle>

<h1>Homework Task Organizer</h1>

Welcome en geniet!
<div> 
    <img class="artwork-image" src="/images/artwork.png" alt="HomeworkTask" />
</div>
