@page "/peoplelist"
@using HomeTaskOrganizer.Components
@using HomeTaskOrganizer.Models
@using HomeTaskOrganizer.Services
@inject PersonService PersonService
@rendermode InteractiveServer

<h3>People List</h3>

@if (people != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.PersonId</td>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>
                        <button @onclick="() => DeletePerson(person.PersonId)">
                            <img src="/images/delete.png" alt="Delete" />
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No people found.</p>
}

@code {
    IEnumerable<Person> people;

    protected override async Task OnInitializedAsync()
    {
        people = await PersonService.GetPeopleAsync();
    }
    private async Task DeletePerson(int personId)
    {
        await PersonService.DeletePersonAsync(personId);
       
        people = await PersonService.GetPeopleAsync();
    }
}
